In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("customers.csv")
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [6]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Check for missing values
df.isnull().sum()

# Encode the 'Gender' column
le = LabelEncoder()
df["Gender"] = le.fit_transform(df["Gender"])

# Select features for clustering
features = ["Age", "Annual Income (k$)", "Spending Score (1-100)"]
X = df[features]

# Standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

# Visualize the data in a 3D scatter plot
fig = plt.figure(figsize=(12, 8))
ax = fig.add_subplot(111, projection='3d')

# Scatter plot with colors and sizes
scatter = ax.scatter(X_scaled[:, 0], X_scaled[:, 1], X_scaled[:, 2], c=X_scaled[:, 2], cmap='viridis', s=50)

# Customize labels
ax.set_xlabel('Age')
ax.set_ylabel('Annual Income (k$)')
ax.set_zlabel('Spending Score (1-100)')
ax.set_title('3D Scatter Plot of Customer Data')

plt.show()